%% -*- erlang -*-
[{gillespie,
  [{uart_list,
    [{1,  "/dev/serial/by-path/*.0-usb-0:1.1.1:1.0-port0"},
     {2,  "/dev/serial/by-path/*.0-usb-0:1.1.2:1.0-port0"},
     {3,  "/dev/serial/by-path/*.0-usb-0:1.1.3:1.0-port0"},
     {4,  "/dev/serial/by-path/*.0-usb-0:1.1.4:1.0-port0"},
     {5,  "/dev/serial/by-path/*.0-usb-0:1.2.1:1.0-port0"},
     {6,  "/dev/serial/by-path/*.0-usb-0:1.2.2:1.0-port0"},
     {7,  "/dev/serial/by-path/*.0-usb-0:1.2.3:1.0-port0"},
     {8,  "/dev/serial/by-path/*.0-usb-0:1.2.4:1.0-port0"},
     {9,  "/dev/serial/by-path/*.0-usb-0:1.3:1.0-port0"},
     {10, "/dev/serial/by-path/*.0-usb-0:1.4:1.0-port0"}]},
   {baud, 115200},
   {oscillator, 12000},  %% kHz
   {addr, 0},
   {filename, "firmware.bin"}
  ]}
].     
